<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <a class="nav-link active text-light out" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light" href="#">Features</a>
        <a class="nav-link text-light" href="#">Pricing</a>
        <a class="nav-link text-light" href="#">Disabled</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>